/* General styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header styles */
#header{
    background-color: black;
    color: white;
    padding: 10px;
    position: fixed;
    z-index: 2;
}

#header .header-content ul li{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}
#header .header-content ul{
    margin: 0;
}

#header a{
    color: white;
}

/* Content styles */
#content{
    background-color: rgba(2, 15, 33, 0.9);
    text-align: center;
    margin-bottom: 20vh;
    color: white;
}

div#main {
    margin: 0;
    padding: 0;
    z-index: 1;
}

#main p i{
    font-size: 3rem;
}

.scroll-chevron{
    text-align: center;
    margin: 90vh auto 0 auto;
}

.scroll-chevron{
    color: white;
}

.scroll-chevron a{
    color: white;
}

#content h1, #content h2{
    margin-top: 15px;
}

.home-content p{
    line-break: auto;
}

.abt-pic{
    max-width: 100%;
    max-height: 30vh;
}

.desc{
    margin: 0 auto;
    text-align: left;
}

#ajax-content div{
    margin-bottom: 15px;
}

#play p{
    margin: 10px auto;
}

/* Footer styles */
#footer{
    background: black;
    min-height: 50px;
    color: white;
}

.footer-left{
    margin: 10px 15px;
}

/* Game Styles */
.game{
    height: 400px;
    width: 80vw;
    border: 1px solid black;
    background: white;
    margin: 0;
}

.player {
    height: 140px;
    width: 80px;
    position: relative;
    top: 261px;
    left: 5px;
    margin: 0;
}

.obst{
    width: 60px;
    height: 43px;
    background-image: url("../../assets/img/asdf4.png");
    position: relative;
    top: 200px;
    left: calc(80vw - 62px);
    background-size: contain;
    background-repeat: no-repeat;
}

.game.started .obst{
    animation: evil_teko 1s infinite linear;
}

@keyframes evil_teko{
    0%{left: calc(80vw - 85px);}
    100%{left: -85px;}
}

.jumping{
    animation: yeet 1s linear;
}

@keyframes yeet{
    0%{top: 261px;}
    20%{top: 180px;}
    40%{top: 150px;}
    60%{top: 150px;}
    80%{top: 200px;}
    100%{top: 261px;}
}

.player img{
    height: 140px;
}

.game-wrapper.active {
    height: 100%;
    width: 100%;
    background-color: rgba(2, 15, 33, 0.9);
}

.game-wrapper i{
    display: none;
}

.game-wrapper.active i.fa-solid.fa-play {
    position: absolute;
    font-size: 2rem;
    padding: 15px;
    background: grey;
    border-radius: 10px;
    margin-top: 167px;
    display: initial;
}